//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg: hsl(252, 84%, 6%) !default;

$black: #232323;
$white: #fff !default;
$gray-600: hsl(252, 84%, 60%);
$gray-600-dark: hsl(252, 84%, 36%) !default;
$gray-700-dark: hsl(252, 84%, 24%) !default;
$gray-800-dark: hsl(252, 84%, 12%) !default;
$black-dark: hsl(252, 24%, 6%) !default;
$input-placeholder-color: #ccc !default;

$primary: #19cdfa !default;
$success: #14e166 !default;
$warning: #fb3785 !default;
$card-border-color: $gray-700-dark !default;
$card-outline-color: hsl(244, 96%, 24%) !default;

$input-bg: transparent !default;
$input-border-color: $gray-600-dark !default;
$input-group-addon-color: $white !default;

$theme-colors: (
  "black": $black,
  "gray": $gray-600,
  "gray-dark": $gray-800-dark,
);
